@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
  scroll-behavior: smooth;
}
body {
  margin:0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin:0;
}
.container{
  max-width: 1140px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin:0 0 10px;
    color: #000000;
    position: relative;
  }

.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right:30%;
    background-color: #000000;
    bottom: 0px;
  }

.text-center{
 text-align: center;}

 /*Header*/


 header {
   position: absolute;
   left:0px;
   right:0px;
   border-bottom: 1px solid #423940;
   padding: 0px 15px;
   z-index: 11;
    background-color: #000000
  ;
 }

 header.fixed{
   background-color: #ffffff;
   position:fixed;
   border-color: #eeeeee;
   animation: fixHeader 2s ease;
   z-index:11;
 }

 @keyframes fixHeader {
   0%{
     transform: translateY(-100%);opacity: 0;
   }
   100%{
       transform: translateY(0%)
   }
 }
 header .row{
   justify-content: space-between;
   align-items: center;
 }
 header .brand-name a{
 text-decoration: none;
 font-size: 22px;
 font-weight: 600;
 color: #ffffff;
 text-transform: uppercase;
 position: relative;
 }

 header.fixed .brand-name a{
   color: #000000;
 }

 header .navbar ul{
   list-style: none;
   padding:0;
   margin:0;
 }
 header .navbar ul li{
 display: inline-block;
 margin-left:35px;
 }
 header .navbar ul li a{
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
 }

 header.fixed .navbar ul li a{
   color:#000000;
 }

 header .navbar ul li a::before {
   content: '';
   height: 3px;
   background-color: #ffffff;
   width: 0%;
   position: absolute;
   right: 0px;
   bottom: -1px;
   transition: all .5s ease;
 }

 header.fixed .navbar ul li a::before{
   background-color: #febd01;
 }
 header .navbar ul li a:hover::before{
   width: 100%;
   left:0%;
 }

 header .navbar ul li a.active::before{
   width: 100%;
   left:0%;
 }

 /*Home Section*/

 .home {
   min-height: 100vh;
   background-image: url("images/home.jpg");
   background-size: cover;
   background-position: center;
   padding:15px;
 }
 .home .full-screen{
   min-height: 100vh;
 }
 .home .home-content {
   flex: 0 0 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }
 .home .home-content .block{
   flex: 0 0 75%;
   max-width: 75%;
   padding-left: 35px;
   border-left: 5px solid #ffffff;
   margin-top: 50px;
 }
 .home .home-content .block h6{
   color: #ffffff;
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   padding: 0;
 }
 .home .home-content .block h1{
   color: #ffffff;
   font-size: 70px;
   font-weight: 600;
   margin:0;
   padding: 0;
 }
 .home .home-content .block h3{
 color: #ffffff;
 font-size: 25px;
 font-weight:500;
 margin: 0;
 padding: 0;
 }
 .home .home-content .block .cv-btn {
   padding-top: 20px;
 }
 .home .home-content .block .cv-btn a{
   border-radius: 4px;
   color: #ffffff;
   border:1px solid #ffffff;
   padding: 12px 25px;
   text-decoration: none;
   display: inline-block;
   font size: 14px;
   text-transform: uppercase;
   font-weight: 600;
   transition: all .5s ease;
   background-color: transparent;
 }
 .home .home-content .block .cv-btn a:hover{
   background-color: #ffffff;
   color: #000000;
 }

 /*About Me*/

.about-me {
padding: 100px 15px;
background-color: #ffffff;
}

.about-me .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.about-me .section-title h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin:0 0 10px;
  color: #000000;
  position: relative;
}

.about-me .section-title h1::before{
  content: '';
  left: 0;
  position: absolute;
  height: 2px;
  right:30%;
  background-color: #febd01;
  bottom: 0px;
}

.text-uppercase{
  text-transform: uppercase;
}

.about-me .section-title p.small{
  display: block;
  font-size:14px;
  color:#838383;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-me .about-content .img{
  flex: 0 0 33.33%;
  max-width: 33.33%;


}

.about-me .about-content .img img{
  width: 100%;
  display: block;
  a

}

.about-me .about-content .text{
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}

.about-me .about-content .text h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #000000;
}

.about-me .about-content .text h6{
font-size: 18px;
font-weight: 500;
margin: 0 0 15px;
color: #000000;
}

.about-me .about-content .text h6 span{
  color: ##808080;
  font-weight: bold;
}
.about-me .about-content .text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color:#838383;
  margin: 0 0 20px;
}


/*Portfolio work*/


.portfolio {
  background-color: #f5f8fd;
  padding: 100px 7px;
}

.portfolio .section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin:0 0 10px;
  color: #000000;
  position: relative;
 }

.portfolio .section-title h1:before {
  content: '';
  left: 0;
  position: absolute;
  height: 2px;
  right:30%;
  background-color: 	#696969;
  bottom: 0px;
  left: 30%;
}

.portfolio .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
}

.portfolio .filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.portfolio .filter-buttons ul li{
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active {
color: 	#696969;
border-bottom: 2px solid 	#696969;
}

.portfolio .filter-buttons{
  margin-bottom: 25px;
}

.portfolio .portfolio-gallery {
flex: 0 0 100%;
max-width:100%;
display: flex;
flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item {
flex: 0 0 33.33%;
max-width:33.33%;
position: relative;
padding:8px;
}

.portfolio .portfolio-gallery .item .inner{
  position: relative;
}

.portfolio .portfolio-gallery .item img{
  width:100%;
  display: block;
height: 100px;
object-fit:cover;

}

.portfolio .portfolio-gallery .item .overlay{
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.6);
z-index:10;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay{
opacity: 1;
}
.portfolio .portfolio-gallery .item .overlay .fa{
  height: 50px;
  width: 50px;
  background-color: 	#808080;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.portfolio .portfolio-gallery .item:hover .overlay .fa{
  animation: galleryIcon .8s ease;
animation: galleryIcon .8s ease;
}

 @keyframes galleryIcon{
  0%{
    transform: translateY(-20px);opacity:0;
  }
  100%{
    transform: translateY(0);opacity:1;
  }
}
.portfolio .portfolio-gallery .item .overlay h4{
  margin-top: 15px;
  font-size:25px;
  color: #ffffff;
  font-weight: 600;
}

.portfolio .portfolio-gallery .item:hover .overlay h4 {
  -webkit-animation: galleryText .8s ease;
  animation: galleryText .8s ease;
}
 @keyframes galleryText{
  0%{
    transform: translateY(20px);opacity:0;
  }
  100%{
    transform: translateY(0);opacity:1;
  }
}
